{% extends "./index.html" %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Formadd</legend>
        <table>
            <tr>
                <td>Firstnum</td>
                <td><input type="text" value="{{vara}}" name="t1" id=""></td>
            </tr>
            <tr>
                <td>Secondnum</td>
                <td><input type="text" value="{{varb}}" name="t2" id=""></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add">
                </td>
            </tr>
            <tr>
                <td>Result</td>
                <td>
                    <input type="text" value="{{res}}" name="res" id="">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock %}