<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Iot</title>
</head>
<body style="background: black; color: white;">
   <center>
    <a style="color: gold;" href="/add">add</a>
    <a style="color: gold;" href="/sub">sub</a>
    <a style="color: gold;" href="/more">calc</a>
    <a style="color: gold;" href="/details">adddetails</a>
   </center>

    {% block content %}
    {% endblock %}
    
</body>
</html>